In [1]:
#161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [3]:
#162
for i in range(2002, 2051):
    if i % 4 == 2:
        print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [7]:
#163
for i in range(1,31):
    if i  % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [15]:
#164
for i in range(1,101):
    print(100 - i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [23]:
#165
for i in range(10):
    print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [37]:
#166
for i in range(1,10):
    print("3x"+str(i), "=", 3*i)

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [39]:
#167
for i in range(1,10):
    if i % 2 == 1:
            print("3x"+str(i), "=", 3*i)

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [45]:
#168
result = 0
for i in range(1,11):
    result += i
print(result)

55

In [51]:
#169
result = 0
for i in range(1, 11):
    if i % 2 == 1:
        result += i
print(result)

25

In [55]:
#170
result = 1
for i in range(1,11):
    result *= i
print(result)

3628800

In [59]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [61]:
#172
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [67]:
#173
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(3 - i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [69]:
#174
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(90 + i*10, price_list[i])

100 32150
110 32000
120 32500

In [73]:
#175
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[i], my_list[1+i])

가 나
나 다
다 라

In [75]:
#176
my_list = ["가", "나", "다", "라", "마"]
for i in range(3):
    print(my_list[i], my_list[1+i], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [77]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[3-i], my_list[2-i])

라 다
다 나
나 가

In [93]:
#178
my_list = [100, 200, 400, 800]
for i in range(3):
    print(my_list[i + 1] - my_list[i])

100
200
400

In [83]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(4):
    sum = my_list[i] + my_list[i+1] + my_list[i+2]
    print(sum/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [99]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
result = [high_prices[i] - low_prices[i] for i in range(4)]
print(result)

[50, 100, 30, 80]

In [103]:
#181
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"] ]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [105]:
#182
stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [109]:
#183
stock = {"시가": [100, 200, 300], "종가": [80, 210, 330]}
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [111]:
#184
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [123]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, '호')

101 호
102 호
201 호
202 호
301 호
302 호

In [131]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i:
        print(j, '호')

301 호
302 호
201 호
202 호
101 호
102 호

In [133]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i[::-1]:
        print(j, '호')

302 호
301 호
202 호
201 호
102 호
101 호

In [137]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, '호')
        print('-----')

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [139]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, '호')
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [141]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, '호')
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [157]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for j in i:
        print(j * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [161]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for i in data:
    for j in i:
        print(j * 1.00014)
    print('----')

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [167]:
#193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = [j * 1.00014 for i in data for j in i]
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [177]:
#194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = [[j *1.0014 for j in i] for i in data]
print(result)

[[2002.8000000000002, 3054.27, 2052.8700000000003, 1982.7720000000002], [7510.500000000001, 2052.8700000000003, 2052.8700000000003, 1982.7720000000002], [15471.630000000001, 15071.070000000002, 15571.77, 14920.86]]

In [185]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:4]:
    print(i[3])

100
190
310

In [187]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

In [191]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[0] <= i[3]:
        print(i[3])

100
310

In [199]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = [i[1]-i[2] for i in ohlc[1:]]
print(volatility)

[40, 30, 10]

In [203]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1]-i[2])

10

In [209]:
#200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
result = 0
for i in ohlc[1:]:
    a = i[3] -i[0]
    result += a

print(result)

0