# Pandas

In [2]:
# Series              1차원
# Dataframe           2차원 이상

In [7]:
import pandas as pd
import numpy as np

## Series

In [20]:
s = pd.Series( [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ] )
print( type( s ) )
print( s. index )
print( s.dtype )
print( s )

s.index = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I' ]
print( s )

<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=9, step=1)
int64
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
A    1
B    2
C    3
D    4
E    5
F    6
G    7
H    8
I    9
dtype: int64

In [34]:
s = pd.Series( [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ], ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I' ]  )
print( s )
print( s.index )
print( s.values )
print( s[ 0 ] )
# 꺼내지긴 하지만, 우리가 인덱스를 지정했기 때문에
# series의 첫번째 데이터를 꺼내려면 우리가 지정한 인덱스를 입력하는게 좋음!
print( s[ 'A' ] )
print( s.A )
print( s[0:5] )
print( s['A':'D'] )

A    1
B    2
C    3
D    4
E    5
F    6
G    7
H    8
I    9
dtype: int64
Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'], dtype='object')
[1 2 3 4 5 6 7 8 9]
1
1
1
A    1
B    2
C    3
D    4
E    5
dtype: int64
A    1
B    2
C    3
D    4
dtype: int64

C:\Users\sc051\AppData\Local\Temp\ipykernel_35848\2535775106.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print( s[ 0 ] )

## Dictionary (Map, JSON) -> Series

In [50]:
d = { 'A':10, 'D':20, 'F':30, 'H':40 }
print( type( d ) )
for key, value in d.items() :
    print( key, ":", value )
print( d['A'] )
#print( d.A )         에러 (시리즈에서는 됨)

#print( d[0:3] )      에러 (딕셔너리는 슬라이싱이 안됨)
#print( d['A':'F'] )  에러 (딕셔너리는 슬라이싱이 안됨)

s = pd.Series( d )
print( s.index )
print( s.values )
print( s[ 'A' ])
print( s.A )
print( s[0:3] )
print( s['A':'F'] )

<class 'dict'>
A : 10
D : 20
F : 30
H : 40
10
Index(['A', 'D', 'F', 'H'], dtype='object')
[10 20 30 40]
10
10
A    10
D    20
F    30
dtype: int64
A    10
D    20
F    30
dtype: int64

## DataFrame

## Dictionary -> DataFrame

In [62]:
d = {
    'name' : [ '길은조', '양지우', '최이준', '한성경' ],
    'age' : [ '23', '21', '22', '21' ],
    'tel' : [ '1111-2222', '2222-3333', '3333-1111', '2222-3333']
}
print( type ( d ) )

df = pd.DataFrame( d )
print( df )
print( df.index )
print( df.columns )
print( df. values )
print('\n')
df.index.name = 'Num'
df.columns.name = 'User'
print( df )
print( df.index )
print( df.columns )
print( df.values )

<class 'dict'>
  name age        tel
0  길은조  23  1111-2222
1  양지우  21  2222-3333
2  최이준  22  3333-1111
3  한성경  21  2222-3333
RangeIndex(start=0, stop=4, step=1)
Index(['name', 'age', 'tel'], dtype='object')
[['길은조' '23' '1111-2222']
 ['양지우' '21' '2222-3333']
 ['최이준' '22' '3333-1111']
 ['한성경' '21' '2222-3333']]


User name age        tel
Num
0     길은조  23  1111-2222
1     양지우  21  2222-3333
2     최이준  22  3333-1111
3     한성경  21  2222-3333
RangeIndex(start=0, stop=4, step=1, name='Num')
Index(['name', 'age', 'tel'], dtype='object', name='User')
[['길은조' '23' '1111-2222']
 ['양지우' '21' '2222-3333']
 ['최이준' '22' '3333-1111']
 ['한성경' '21' '2222-3333']]

## Numpy -> DataFrame

In [98]:
n = np.array(
    [['길은조', 23, '1111-2222'],
     ['양지우', 21, '2222-3333'],
     ['최이준', 22, '3333-1111'],
     ['한성경', 21, '1111-3333']]
)
print( type( n ) )
df = pd.DataFrame( n )

df.columns = [ 'name', 'age', 'tel' ]
df.index = [ 'A', 'B', 'C', 'D' ]

print( df )
print( df.index )
print( df.columns )

print('\n')

df_1 = pd.DataFrame( n, columns=[ 'name', 'age', 'tel' ], index = ['A', 'B', 'C', 'D' ] )
print( df_1 )

print('\n')

print( df_1.describe()) #unique 종류

<class 'numpy.ndarray'>
  name age        tel
A  길은조  23  1111-2222
B  양지우  21  2222-3333
C  최이준  22  3333-1111
D  한성경  21  1111-3333
Index(['A', 'B', 'C', 'D'], dtype='object')
Index(['name', 'age', 'tel'], dtype='object')


  name age        tel
A  길은조  23  1111-2222
B  양지우  21  2222-3333
C  최이준  22  3333-1111
D  한성경  21  1111-3333


       name age        tel
count     4   4          4
unique    4   3          4
top     길은조  21  1111-2222
freq      1   2          1

In [118]:
print( df['name'] )
print( df[['name','tel']] ) #꺼내고 싶은 게 2차원일 때에는 대괄호 2개!
#print( df['name'][2] ) #되긴 하지만 우리가 붙여놓은 index가 있기 때문에 FutureWarning이 뜸
print( df['name']['C'] )
print( df['name'].C )
print( df['name']['B':'D'] )

print( df.name, df.age )
print( df.name.B )

A    길은조
B    양지우
C    최이준
D    한성경
Name: name, dtype: object
  name        tel
A  길은조  1111-2222
B  양지우  2222-3333
C  최이준  3333-1111
D  한성경  1111-3333
최이준
최이준
B    양지우
C    최이준
D    한성경
Name: name, dtype: object
A    길은조
B    양지우
C    최이준
D    한성경
Name: name, dtype: object A    23
B    21
C    22
D    21
Name: age, dtype: object
양지우

In [120]:
print( df[:][:] )
print( df[:2][:1] )
print( df[['name','tel']] )
# print( df[[ 0,2 ] )              #에러 컬럼명이 있는 경우 숫자 X
# print( df[0][0] )                #에러

  name age        tel
A  길은조  23  1111-2222
B  양지우  21  2222-3333
C  최이준  22  3333-1111
D  한성경  21  1111-3333
  name age        tel
A  길은조  23  1111-2222
  name        tel
A  길은조  1111-2222
B  양지우  2222-3333
C  최이준  3333-1111
D  한성경  1111-3333

In [160]:
df[ 'address' ] = [ '인천', '고양', '서울', '서울' ]          #column 추가
df['age'] = df['age'].astype(int)
df[ '얼라' ] = df[ 'age' ] < 22 
print( df['age'].dtype )
print( df )

del( df[ '얼라' ] )

print( df )

int32
  name  age        tel address     얼라
A  길은조   23  1111-2222      인천  False
B  양지우   21  2222-3333      고양   True
C  최이준   22  3333-1111      서울  False
D  한성경   21  1111-3333      서울   True
  name  age        tel address
A  길은조   23  1111-2222      인천
B  양지우   21  2222-3333      고양
C  최이준   22  3333-1111      서울
D  한성경   21  1111-3333      서울

## Series 정렬

In [182]:
s = pd.Series( [10, 40, 50, 20, 70, 60 ], index = ['f', 'e', 'd', 'b', 'c', 'a' ] )
s = s.sort_index( ascending = False )     #ascending = True가 기본값
s = s.sort_values()
print( s )

f    10
b    20
e    40
d    50
a    60
c    70
dtype: int64

## DataFrame 정렬

In [199]:
df = pd.DataFrame( [[ 4, 5, 1, 2 ],
                    [ 20, 10, 30, 50 ],
                    [300, 400, 200, 1000]], index = [ 'c', 'a', 'b' ], columns = [ 'B', 'C', 'A', 'D'])

print( df )
print('\n')
df = df.sort_index()    #index 정렬
df = df.sort_index( axis = 0 ) #행끼리 정렬 (위와 동일함)
df = df.sort_index( axis = 1, ascending = False ) # column으로 정렬

df = df.sort_values( by = 'A')
print( df )

     B    C    A     D
c    4    5    1     2
a   20   10   30    50
b  300  400  200  1000


      D    C    B    A
c     2    5    4    1
a    50   10   20   30
b  1000  400  300  200