# 파이썬 분기문

In [ ]:
#101
bool

In [2]:
#102
print(3 == 5)

False

In [4]:
#103
print(3 < 5)

True

In [6]:
#104
x = 4
print(1 < x < 5)

True

In [8]:
#105
print((3==3) and (4 != 3))

True

In [10]:
#106
print(3 >= 4) #라고 써야한다.

False

In [12]:
#107
if 4 < 3:
    print("Hello World")

In [14]:
#108
if 4 < 3:
    print("Hello World")
else:
    print("Hi, there")

Hi, there

In [16]:
#109
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [18]:
#110
if True :
    if False: 
        print("1")
        print("2")
    else:
        print("3")
else: 
    print("4")
print("5")

3
5

In [20]:
#111
print((input())*2)

 안녕하세요

안녕하세요안녕하세요

In [22]:
#112
print(int(input()) + 10)

 30

40

In [28]:
#113
if int(input()) % 2 == 0:
    print('짝수')
else:
    print('홀수')

 30

짝수

In [32]:
#114
if int(input()) + 20 <= 255:
    print(int(input) + 20)
else:
    print(255)

 240

255

In [42]:
#115
num = int(input())
if 0 <= num - 20 <= 255:
    print(num - 20)
elif num - 20 < 0:
    print(0)
else:
    print(255)

 15

0

In [66]:
#116
time = input()
if time[3:] == '00':
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

 13:00

정각 입니다.

In [74]:
#117
fruit = ["사과", "포도", "홍시"]
a = input("좋아하는 과일은? ",)
if a in fruit:
    print("정답입니다")
else:
    print("오답입니다")

좋아하는 과일은?  복숭아

오답입니다

In [3]:
#118
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
a = input()
if a in warn_investment_list:
    print("투자 경고 종목입니다")
else:
    print("투자 경고 종목이 아닙니다")

 SAMSUNG

투자 경고 종목입니다

In [15]:
#119
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
season = list(fruit.keys())
a = input("제가좋아하는계절은? ", )
if a in season:
    print("정답입니다")
else:
    print("오답입니다")

제가좋아하는계절은?  봄

정답입니다

In [17]:
#120
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
fruit_name = list(fruit.values())
b = input("좋아하는과일은? ", )
if b in fruit_name:
    print("정답입니다")
else:
    print("오답입니다")

좋아하는과일은?  토마토

정답입니다

In [25]:
#121
a = input()
if a.islower() == True:
    print(a.upper())
else:
    print(a.lower())

 a

A

In [29]:
#122
score = int(input("score: ", ))
if 81 <= score <= 100:
    print('grade is A')
elif 61<= score <= 80:
    print('grade is B')
elif 41 <= score <= 60:
    print('grade is C')
elif 21 <= score <= 40:
    print('grade is D')
else:
    print('grade is E')

score:  83

grade is A

In [51]:
#123
환율 = {"달러": 1167, "엔":1.096, "유로": 1268, "위안":171}
입력 = input("입력: ")
num, currency = 입력.split()
print(float(num) * 환율[currency], "원")

입력:  100 달러

116700.0 원

In [127]:
#124
input_1 = int(input())
input_2 = int(input())
input_3 = int(input())
print(max(input_1, input_2, input_3))

 10
 20
 30

30

In [69]:
#125
num = input("휴대전화 번호 입력: ")[0:3]
통신사 = {'011': "skt", '016': "kt", '019': "LGU", '010': "알수없음"}
print("당신은", 통신사[num], "사용자입니다.")

휴대전화 번호 입력:  011-1111-1111

당신은 skt 사용자입니다.

In [71]:
#126
num = input("우편번호: ")[2]
구 = {'0': '강북구', '1': '강북구', '2': '강북구', '3': '도봉구', '4': '도봉구', '5': '도봉구', '6': '노원구', '7': '노원구', '8': '노원구', '9': '노원구'}
print(구[num])

우편번호:  01400

도봉구

In [79]:
#127
num = input("주민등록번호: ")[7]
if num == 1 or 3:
    print('남자')
else:
    print('여자')

주민등록번호:  821010-1635210

남자

In [81]:
#128
num = input("주민등록번호: ")[8:9]
if num in ['00', '01', '02', '03', '04', '05', '06', '07', '08']:
    print('서울 입니다')
else:
    print('서울이 아닙니다')

주민등록번호:  821010-1635210

서울이 아닙니다

In [75]:
#129
주민등록번호 = input("주민등록번호: ")
# - 뺀 문자열로 만들기
num = "".join((주민등록번호).split('-'))
# 문자열 -> 숫자로 리스트 만들기
list1 = list(int(x) for x in num)
list2 = [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5]
## 12자리에 차례로 곱하가 (계산1)
계산1 = [a * b for a, b in zip(list1, list2)]
#결과값 더하고 11로 나눈 나머지를 11에서 뺀 값이 주민등록번호의 마지막 번호와 일치하는지 확인하기
print(int(주민등록번호[13]) == 11 - (sum(계산1) % 11))

주민등록번호:  821010-1635210

False

In [87]:
#130
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
변동폭 = int(btc['max_price'])-int(btc['min_price'])
num = int(btc['opening_price']) + 변동폭
if num > int(btc['max_price']):
    print("상승장")
else:
    print("하락장")

상승장

In [89]:
#131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [91]:
#132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [93]:
#133
print("A")
print("B")
print("C")

A
B
C

In [95]:
#134
print("출력: A")
print("출력: B")
print("출력: C")

출력: A
출력: B
출력: C

In [125]:
#135
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [117]:
#136
리스트 = [10, 20, 30]
for i in 리스트:
    print(i)

10
20
30

In [123]:
#137
리스트 = [10, 20, 30]
for i in 리스트:
    print(i)

10
20
30

In [115]:
#138
리스트 = [10, 20, 30]
for i in 리스트:
    print("-------")

-------
-------
-------

In [119]:
#139
리스트 = ["++++", 10, 20, 30]
for i in 리스트:
    print(i)

++++
10
20
30

In [129]:
#140
리스트 = [1, 2, 3, 4]
for i in 리스트:
    print("-------")

-------
-------
-------
-------

In [131]:
#141
리스트 = [100, 200, 300]
for i in 리스트:
    print(i + 10)

110
210
310

In [133]:
#142
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print("오늘의 메뉴:", i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [135]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [137]:
#144
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [141]:
#145
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [143]:
#146
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 x", i)

3 x 1
3 x 2
3 x 3

In [149]:
#147
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 x", i, "=", 3 * i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [151]:
#148
리스트 = ["가", "나", "다", "라"]
리스트1 = 리스트[1:]
for i in 리스트1:
    print(i)

나
다
라

In [155]:
#149
리스트 = ["가", "나", "다", "라"]
리스트1 = 리스트[0] + 리스트[2]
for i in 리스트1:
    print(i)

가
다

In [157]:
#150
리스트 = ["가", "나", "다", "라"]
리스트1 = 리스트[::-1]
for i in 리스트1:
    print(i)

라
다
나
가

In [175]:
#151
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i < 0:
        print(i)

-20
-3

In [177]:
#152
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [195]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if (i < 20) and (i % 3 == 0):
        print(i)

12
18

In [197]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [199]:
#155
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper() == True:
        print(i)

A
D

In [201]:
#156
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower() == True:
        print(i)

b
c

In [209]:
#157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0].upper()+i[1:])
#띄어쓰기 없이 출력할 때에는 ,가 아니라 +를 이용하자

Dog
Cat
Parrot

In [231]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for x in 리스트:
    a = x.split('.')
    print(a[0])

hello
ex01
intro

In [9]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    확장자 = i.split('.')[1]
    if 확장자 == 'h':
        print(i)

intra.h
define.h

In [17]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    확장자 = i.split('.')[1]
    if 확장자 in ['c', 'h']:
        print(i)

intra.h
intra.c
define.h