# 파이썬 함수

In [2]:
#201
def print_coin():
    print("비트코인")

In [6]:
#202
print_coin()

비트코인

In [10]:
#203
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [16]:
#204
def print_coins():
    for i in range(100):
        print("비트코인")

print_coins()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [18]:
#205
hello() #함수가 정의되지 않았는데 호출을 했기 때문에 오류 발생
def hello():
    print("Hi")

NameError: name 'hello' is not defined

In [20]:
#206
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [22]:
#207
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [24]:
#208
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [26]:
#209
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [28]:
#210
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [30]:
#211
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [32]:
#212
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [34]:
#213
def 함수(문자열):
    print(문자열)

In [36]:
#214
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
# + 는 같은 타입의 두 개의 값을 입력 받아 덧셈 연산을 적용하는데, "안녕"은 문자열이고, 3은 숫자이기에 더할 수 없다.

TypeError: can only concatenate str (not "int") to str

In [42]:
#215
def print_with_smile(문자열):
    print(문자열+":D")

In [46]:
#216
print_with_smile('안녕하세요')

안녕하세요:D

In [50]:
#217
def print_with_smile(price):
    print(price * 1.3)

In [52]:
def print_sum(a, b):
    print(a + b)

In [54]:
def print_arithmetic_operation(a, b):
    print(f'{a} + {b} = {a+b}')
    print(f'{a} - {b} = {a-b}')
    print(f'{a} * {b} = {a*b}')
    print(f'{a} / {b} = {a/b}')
    
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [58]:
#220
def print_max(a, b, c):
    print(max(a, b, c))

print_max(1, 2, 3)

3

In [62]:
#221
def print_reverse(문자열):
    print(문자열[::-1])

print_reverse("python")

nohtyp

In [70]:
#222
def print_score(score):
    sum = 0
    for i in score:
        sum += i
    print(sum/len(score))

print_score([1, 2, 3])

2.0

In [72]:
#223
def print_even(num):
    for i in num:
        if i % 2 == 0:
            print(i)

In [74]:
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [84]:
#224
def print_keys(dic):
    for key in dic.keys():
        print(key)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [86]:
#225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(my_dict, day):
    print(my_dict[day])

print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

In [96]:
#226
def print_5xn(string):
    chunk_num = int(len(string)/5)
    for x in range(chunk_num + 1):
        print(string[x*5:x*5+5])

print_5xn('아이엠어보이유알어걸')

아이엠어보
이유알어걸

In [104]:
#227
def print_mxn(string, m):
    chunk_num = int(len(string)/m)
    for i in range(chunk_num+1):
        print(string[i*m:i*m+m])

print_mxn('아이엠어보이유얼어걸', 3)

아이엠
어보이
유얼어
걸

In [106]:
#228
def calc_monthly_salary(money):
    salary = int(money/12)
    print(salary)

calc_monthly_salary(12000000)

1000000

In [110]:
#229
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [112]:
#230
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [114]:
#231
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)

NameError: name 'result' is not defined

In [116]:
#232
def make_url(문자열):
    print('www.'+문자열+'.com')
make_url("naver")

www.naver.com

In [118]:
#233
def make_list(문자열):
    리스트 = list(문자열)
    print(리스트)
make_list("abcd")

['a', 'b', 'c', 'd']

In [130]:
#234
def pickup_even(리스트):
    even = []
    for i in 리스트:
        if i % 2 == 0:
            even.append(i)
    print(even)
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [134]:
#235
def convert_int(num):
    num1 = num.replace(',', '')
    print(num1)

convert_int("1,234,567")

1234567

In [136]:
#236
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [138]:
#237
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [140]:
#238
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [142]:
#239
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [144]:
#240
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28

# 파일 입출력과 예외처리

In [153]:
#291
f = open("output/매수종목1.txt", 'w')
f.write("005930\n"+"005380\n"+"035420")
f.close()

In [155]:
#292
f = open("output/매수종목2.txt", 'w')
f.write("005930 삼성전자\n"+"005380 현대차\n"+"035420 NAVER")
f.close()

In [159]:
#293
import csv

f = open("output/매수종목.csv", 'w', encoding = 'cp949', newline = '')
writer = csv.writer(f)
writer.writerow(["종목명", '종목코드', 'PER'])
writer.writerow(['삼성전자', '005930', 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

In [9]:
#294
f = open("output/매수종목1.txt", 'r')
lines = f.readlines()
codes = []
for line in lines:
    code = line.strip()
    codes.append(code)

print(codes)

['005930', '005380', '035420']

In [23]:
#295
f = open("output/매수종목2.txt", 'r')
lines = f.readlines()
dict = {}
for line in lines:
    line.strip()
    k, v = line.split()
    dict[k] = v

print(dict)
f.close()

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [27]:
#296
per = ["10.31", "", "8.00"]

for i in per:
   try:
       print(float(i))
   except:
       print(0)

10.31
0
8.0

In [37]:
#297
per = ["10.31", "", "8.00"]
list =[]
for i in per:
    try:
        list.append(float(i))
    except:
        list.append(0)

print(list)

[10.31, 0, 8.0]

In [41]:
#298
try:
    4/0
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')

0으로 나눌 수 없습니다.

In [45]:
#299
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as i:
        print(i)

1
2
3
list index out of range
list index out of range

In [51]:
#300
per = ["10.31", "", "8.00"]
list = []
for i in per:
    try:
        a = (float(i))
    except:
        print('잘못된 형식입니다.')
    else:
        list.append(a)
    finally:
        print(list)

[10.31]
잘못된 형식입니다.
[10.31]
[10.31, 8.0]